<div>
	<h1 class="text-center display-3 fw-normal">Etiquetas {{tag.dataValues.name}}</h1>
</div>
<div>
	<ul>	
		{{#each tag.dataValues.notes}}
		<br>
		<li>
			{{> notas/_card note=this simple=true}}
		</li>
		{{/each}}
	</ul>
</div>